.button {
    background: $bg-secondary;
    border: none;
    color: $text-light;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 24px;
    padding: 12px 20px;

    &--toggle {
        background: none;
        color: $text-dark;
        display: none;
        font-size: 20px;
        padding: 5px;
    }

    &--light {
        background: none;
        border: 1px solid $white;
        border-radius: 10px;
        font-size: 15px;
        line-height: normal;
        padding: 8px 26px;
    }

    @include media-breakpoint-down(lg) {
        &--navbar {
            display: none;
        }
    }

    @include media-breakpoint-down(md) {
        &--toggle {
            display: flex;
        }
    }
}
