.button {
    background: $bg-secondary;
    border: none;
    border-radius: 10px;
    color: $text-light;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 24px;
    padding: 12px 54px;

    &--toggle {
        background: none;
        color: $text-dark;
        display: none;
        font-size: 20px;
        padding: 5px;
    }

    @include media-breakpoint-down(lg) {
        &--navbar {
            padding: 6px 27px;
        }
    }

    @include media-breakpoint-down(md) {
        &--navbar {
            display: none;
        }

        &--toggle {
            display: flex;
        }
    }
}
