.navbar {
    margin-right: 56px;

    &__menu {
        align-items: center;
        display: flex;
        gap: 56px;
        justify-content: center;
        list-style: none;
        margin: 0;
    }

    &__link {
        color: $text-dark;
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.4px;
        line-height: 24px;
        text-decoration: none;
        text-transform: uppercase;
    }

    @include media-breakpoint-down(xl) {
        margin-right: 28px;

        &__menu {
            gap: 28px;
        }

        &__link {
            font-size: 14px;
        }
    }

    @include media-breakpoint-down(md) {
        display: none;
        height: 0;
        margin: 0;
        overflow: hidden;
        padding-top: 20px;
        transition: all 0.4s ease 0s;
        width: 100%;

        &--open {
            display: flex;
            height: 100%;
        }

        &__menu {
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }
    }
}
